@{
    ViewData["Title"] = "All Tasks";
}

@model List<TheTask>
<style type="text/css">
    .tg {
        border-collapse: collapse;
        border-spacing: 0;
    }

        .tg .timtam {
            border-color: black;
            border-style: solid;
            border-width: 1px;
            font-family: Arial, sans-serif;
            font-size: 14px;
            overflow: hidden;
            padding: 10px 4px;
            word-break: normal;
        }

        .tg .banana {
            border-color: black;
            border-style: solid;
            border-width: 1px;
            font-family: Arial, sans-serif;
            font-size: 14px;
            font-weight: normal;
            overflow: hidden;
            padding: 10px 4px;
            word-break: normal;
        }

        .tg .tg-31ua {
            background-color: #ffcc67;
            border-color: inherit;
            text-align: left;
            vertical-align: top
        }

        .tg .tg-cnwr {
            background-color: #ffcc67;
            border-color: inherit;
            font-weight: bold;
            text-align: center;
            vertical-align: top
        }

        .tg .tg-oyd9 {
            background-color: #ffcc67;
            border-color: inherit;
            font-weight: bold;
            text-align: left;
            vertical-align: top
        }

        .tg .tg-958c {
            background-color: #ffcc67;
            border-color: inherit;
            text-align: center;
            vertical-align: top
        }
</style>
<table class="tg">
    <thead>
        <tr>
            <th class="tg-cnwr timtam" colspan="3">STEPHEN COVEY'S TIME MANAGEMENT MATRIX</th>
        </tr>
    </thead>
    <tbody>
        <tr>
            <td class="tg-31ua timtam"></td>
            <td class="tg-cnwr timtam">URGENT</td>
            <td class="tg-cnwr timtam">NOT URGENT</td>
        </tr>
        <tr>
            <td class="tg-oyd9 timtam">IMPORTANT</td>
            <td class="tg-958c timtam">
                <span style="font-weight:bold">Quadrant 1</span><br>
                @*************************************************@
                @*Building Important/Urgent Table*@
                <table class="table table-striped">
                    @*If statement to determine there is a value for this table*@
                    @foreach (var y in Model)
                    {
                        @if (y.Quadrant.QuadrantName == "Important/Urgent")
                        {
                            <thead>
                                <tr>
                                    <th>Task</th>
                                    <th>Due Date</th>
                                    <th>Category</th>
                                    <th></th>
                                    <th></th>
                                    <th></th>
                                </tr>
                            </thead>
                            break;
                        }
                    }
                    <tbody>
                        @foreach (var x in Model)
                        {
                            @if (x.Quadrant.QuadrantName == "Important/Urgent")
                            {
                                <tr>
                                    <td>@x.Description</td>
                                    <td>@x.DueDate</td>
                                    <td>@x.Category.CategoryName</td>
                                    <!--Check the routing tag if errors pop up-->
                                    <td><a asp-controller="Home" asp-action="EditTask" asp-route-id="@x.TaskId">Edit</a></td>
                                    <td><a asp-controller="Home" asp-action="Delete" asp-route-id="@x.TaskId">Delete</a></td>
                                    <td><a asp-controller="Home" asp-action="Completed" asp-route-id="@x.TaskId">Complete</a></td>
                                </tr>
                            }
                        }
                    </tbody>
                </table>
                @*Building Important/Urgent Table*@
                @*************************************************@
            <td class="tg-958c timtam">
                <span style="font-weight:bold">Quadrant 2</span><br>
                @*************************************************@
                @*Building Important/Urgent Table*@
                <table class="table table-striped">
                    @*If statement to determine there is a value for this table*@
                    @foreach (var y in Model)
                    {
                        @if (y.Quadrant.QuadrantName == "Important/Not Urgent")
                        {
                            <thead>
                                <tr>
                                    <th>Task</th>
                                    <th>Due Date</th>
                                    <th>Category</th>
                                    <th></th>
                                    <th></th>
                                    <th></th>
                                </tr>
                            </thead>
                            break;
                        }
                    }
                    <tbody>
                        @foreach (var x in Model)
                        {
                            @if (x.Quadrant.QuadrantName == "Important/Not Urgent")
                            {
                                <tr>
                                    <td>@x.Description</td>
                                    <td>@x.DueDate</td>
                                    <td>@x.Category.CategoryName</td>
                                    <!--Check the routing tag if errors pop up-->
                                    <td><a asp-controller="Home" asp-action="EditTask" asp-route-id="@x.TaskId">Edit</a></td>
                                    <td><a asp-controller="Home" asp-action="Delete" asp-route-id="@x.TaskId">Delete</a></td>
                                    <td><a asp-controller="Home" asp-action="Completed" asp-route-id="@x.TaskId">Complete</a></td>
                                </tr>
                            }
                        }
                    </tbody>
                </table>
                @*Building Important/Urgent Table*@
                @*************************************************@
            </td>
        </tr>
        <tr>
            <td class="tg-oyd9 timtam">NOT IMPORTANT</td>
            <td class="tg-958c timtam">
                <span style="font-weight:bold">Quadrant 3</span><br>
                @*************************************************@
                @*Building Important/Urgent Table*@
                <table class="table table-striped">
                    @*If statement to determine there is a value for this table*@
                    @foreach (var y in Model)
                    {
                        @if (y.Quadrant.QuadrantName == "Not Important/Urgent")
                        {
                            <thead>
                                <tr>
                                    <th>Task</th>
                                    <th>Due Date</th>
                                    <th>Category</th>
                                    <th></th>
                                    <th></th>
                                    <th></th>
                                </tr>
                            </thead>
                            break;
                        }
                    }
                    <tbody>
                        @foreach (var x in Model)
                        {
                            @if (x.Quadrant.QuadrantName == "Not Important/Urgent")
                            {
                                <tr>
                                    <td>@x.Description</td>
                                    <td>@x.DueDate</td>
                                    <td>@x.Category.CategoryName</td>
                                    <!--Check the routing tag if errors pop up-->
                                    <td><a asp-controller="Home" asp-action="EditTask" asp-route-id="@x.TaskId">Edit</a></td>
                                    <td><a asp-controller="Home" asp-action="Delete" asp-route-id="@x.TaskId">Delete</a></td>
                                    <td><a asp-controller="Home" asp-action="Completed" asp-route-id="@x.TaskId">Complete</a></td>
                                </tr>
                            }
                        }
                    </tbody>
                </table>
                @*Building Important/Urgent Table*@
                @*************************************************@
            </td>
            
            <td class="tg-958c timtam">
                <span style="font-weight:bold">Quadrant 4</span><br>
                @*************************************************@
                @*Building Important/Urgent Table*@
                <table class="table table-striped">
                    @*If statement to determine there is a value for this table*@
                    @foreach (var y in Model)
                    {
                        @if (y.Quadrant.QuadrantName == "Not Important/Not Urgent")
                        {
                            <thead>
                                <tr>
                                    <th>Task</th>
                                    <th>Due Date</th>
                                    <th>Category</th>
                                    <th></th>
                                    <th></th>
                                    <th></th>
                                </tr>
                            </thead>
                            break;
                        }
                    }
                    <tbody>
                        @foreach (var x in Model)
                        {
                            @if (x.Quadrant.QuadrantName == "Not Important/Not Urgent")
                            {
                                <tr>
                                    <td>@x.Description</td>
                                    <td>@x.DueDate</td>
                                    <td>@x.Category.CategoryName</td>
                                    <!--Check the routing tag if errors pop up-->
                                    <td><a asp-controller="Home" asp-action="EditTask" asp-route-id="@x.TaskId">Edit</a></td>
                                    <td><a asp-controller="Home" asp-action="Delete" asp-route-id="@x.TaskId">Delete</a></td>
                                    <td><a asp-controller="Home" asp-action="Completed" asp-route-id="@x.TaskId">Complete</a></td>
                                </tr>
                            }
                        }
                    </tbody>
                </table>
                @*Building Important/Urgent Table*@
                @*************************************************@
            </td>
        </tr>
    </tbody>
</table>


